
body {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  background-color:white;
  font-family: 'Taviraj', serif;
  font-weight: 400;
}
header{
  background: rgb(148, 242, 230);
}
.navbar{
  height: 100px;
  background-color: rgb(148, 242, 230);
}
nav{
  text-align: center;
  display: flex;
  background: rgb(148, 242, 230);
  text-decoration: none;
  float:right;
  justify-content: space-around;
  padding-left: 10px;
}

li{
  display: inline-block;
  margin-left: 10px;
  padding-top: 0;
 }
nav a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

#profile{
  float:left;

}
